.overlay {
	position: fixed;
	z-index: 10;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	pointer-events: none;
	&.show {
		.logo,
		.slide_navigation,
		.content {
			opacity: 1;
		}
	}
	&.disabled {
		.view_toggle_button,
		.back_button,
		.slide_navigation button {
			pointer-events: none;
		}
	}
	.logo,
	.slide_navigation,
	.content {
		opacity: 0;
		will-change: opacity;
		transition: 0.5s ease-out;
	}
	.view_toggle_button {
		position: absolute;
		top: 20px;
		right: 20px;
		pointer-events: auto;
		border-radius: 1.5rem;
		z-index: 1;
		.switch {
			position: relative;
			min-height: 36px;
			padding: 0.3125rem 2.375rem;
			min-width: 9.75rem;
			border: 1px solid #666;
			border-radius: 1.5rem;
			background: #222;
			transition: background 0.3s;
			&.free {
				background: #fff;
				.knob {
					transform: translate3d(7.75rem, 0, 0);
				}
			}
			.knob {
				position: absolute;
				top: 0.1875rem;
				left: 0;
				transform: translate3d(0.125rem, 0, 0);
				width: 1.75rem;
				height: 1.75rem;
				border-radius: 50%;
				background: radial-gradient(circle, rgb(101, 173, 255) 0%, rgb(29, 89, 255) 100%);
				transition: transform 0.3s ease-out;
				z-index: 1;
			}
			.label {
				color: #fff;
				mix-blend-mode: difference;
				font-size: 1rem;
				font-weight: 700;
			}
		}
	}
	.back_button {
		position: absolute;
		top: 20px;
		right: 11rem;
		width: 2.25rem;
		height: 2.25rem;
		border-radius: 50%;
		pointer-events: auto;
		transform: translate3d(120%, 0, 0);
		will-change: opacity, transform;
		transition: 0.2s ease-out;
		&.show {
			opacity: 1;
			transform: translate3d(0, 0, 0);
		}
		svg {
			width: 100%;
			height: 100%;
		}
	}
	.logo {
		margin: 2rem auto;
		width: 10rem;
	}
	.slide_navigation {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 1rem;
		opacity: 0;
		button {
			pointer-events: auto;
			svg {
				width: 2.5rem;
				height: 2.5rem;
				transition: opacity 0.3s ease-in-out;
				&:hover {
					opacity: 0.6;
				}
			}
		}
	}
	.content {
		background: linear-gradient(to top, rgba(255, 255, 255, 0.9), transparent);
		padding: 3rem 1rem 2.5rem;
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		opacity: 0;
		h1 {
			font-size: 3rem;
			font-weight: 800;
		}
		p {
			opacity: 0.6;
			font-style: italic;
		}
		.info {
			display: flex;
			align-items: center;
			gap: 3rem;
			margin-top: 2.5rem;
			.info-block {
				display: flex;
				flex-direction: column;
				align-items: center;
				.info-content {
					display: flex;
					align-items: center;
					gap: 0.5rem;
					svg {
						width: 1.5rem;
						height: 1.5rem;
					}
					p {
						font-size: 1.875rem;
						font-weight: 600;
					}
				}
				.info-text {
					font-size: 0.875rem;
					opacity: 0.8;
				}
			}
		}
	}
}
