.overlay {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	display: flex;
	flex-direction: column;
	opacity: 0;
	z-index: 10;
	transition: opacity 0.5s ease-out;
	pointer-events: none;
	&.show {
		opacity: 1;
		pointer-events: auto;
	}
	&.disabled {
		opacity: 0;
		pointer-events: none;
	}
	.logo_wrapper {
		position: relative;
		margin: 1.5rem auto;
		width: 7rem;
		height: 2.25rem;
		.logo_background {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate3d(-50%, -50%, 0);
			width: 200%;
			height: 200%;
			border-radius: 50%;
			background: #fff;
			filter: blur(10px);
		}
		.logo {
			height: auto;
			object-fit: contain;
		}
	}
	.content {
		margin-top: auto;
		padding: 4rem 3rem 2rem;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 0.5rem;
		background: linear-gradient(0deg, rgba(255, 255, 255, 0.9) 66%, rgba(255, 255, 255, 0));
		text-align: center;
		pointer-events: none;
		h1 {
			color: #111;
			font-size: 2.25rem;
			font-weight: 700;
		}
		p {
			color: #444;
			font-size: 1rem;
			line-height: 160%;
		}
		a {
			margin-top: 0.5rem;
			padding: 0.75rem 1.5rem;
			display: inline-block;
			border-radius: 0.5rem;
			background: #111;
			color: #fff;
			font-weight: 600;
			text-decoration: none;
			transition: background 0.3s ease-out;
			pointer-events: auto;
			&:hover {
				background: #333;
			}
		}
	}
}

.slide_navigation {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 1rem;
	pointer-events: none;
	z-index: 11;
	&.show {
		pointer-events: auto;
	}
	button {
		pointer-events: auto;
		svg {
			width: 2.5rem;
			height: 2.5rem;
			transition: transform 0.3s ease-in-out;
			&:hover {
				transform: scale(1.1);
			}
		}
	}
}

.view_toggle_button {
	position: absolute;
	top: 1.5rem;
	right: 1.5rem;
	border-radius: 1.5rem;
	z-index: 12;
	pointer-events: auto;
	.switch {
		position: relative;
		min-height: 36px;
		padding: 0.3125rem 2.375rem;
		min-width: 9.75rem;
		border: 1px solid #666;
		border-radius: 1.5rem;
		transition: background 0.3s ease-in-out;
		background: #fff;

		&.free {
			.knob {
				transform: translate3d(7.75rem, 0, 0);
			}
		}
		.knob {
			position: absolute;
			top: 0.1875rem;
			left: 0;
			transform: translate3d(0.125rem, 0, 0);
			width: 1.75rem;
			height: 1.75rem;
			border-radius: 50%;
			background: radial-gradient(circle, rgb(101, 173, 255) 0%, rgb(29, 89, 255) 100%);
			transition: transform 0.3s ease-in-out;
			z-index: 1;
		}

		.label {
			color: #fff;
			mix-blend-mode: difference;
			font-size: 1rem;
			font-weight: 700;
		}
	}
}

.back_button {
	position: absolute;
	top: 1.5rem;
	right: 11rem;
	width: 2.25rem;
	height: 2.25rem;
	border-radius: 50%;
	transform: translate3d(140%, 0, 0);
	will-change: opacity, transform;
	transition: 0.2s ease-out;
	z-index: 11;
	pointer-events: auto;
	&.show {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
	svg {
		width: 100%;
		height: 100%;
	}
}
